.titleBar{
position: relative;
height: 40px;
clear: top;
float: top;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 36px;
color: #22316C;
background-color: white;
padding-bottom: 15px;
border-bottom: 1px solid #dadada;
background: url(images/ibmRoomBookingLogo.png) no-repeat center top;
}

.buttonPanel{
position: relative;
height: 10px;
clear: top;
float: top;
text-align: right;
font-family: Verdana;
font-weight: bold;
font-size: 14px;
color: #22316C;
background-color: white;
padding-top: 5px;
padding-bottom: 5px;
}

.centering {
width: 100%;
text-align:center;
border: 1px solid gray;
border-width: 0px 0px;
}

.dayChooser{
background-color: white;
clear: top;
height: 25px;
width: 270px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
float: center;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 18px;
color: #22316C;
border: 1px solid gray;
border-width: 0px 0px;
border-bottom: 1px solid #dadada;
}

.yearChooser{
background-color: white;
clear: top;
height: 25px;
width: 150px;
padding-bottom: 5px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
float: center;
text-align: center;
font-family: Verdana;
font-weight: bold;
font-size: 18px;
color: #22316C;
border: 1px solid gray;
border-width: 0px 0px;
border-bottom: 1px solid #dadada;
}

#buttonBack {
position: relative;
cursor: pointer;
float: left;
width: 25px;
height: 25px;
background: url(images/back.png) no-repeat left top;
}

#today {
cursor: default;
float: left;
width: 200px;
margin-left: auto;
margin-right: auto;
text-align:right;
}

#thisYear {
cursor: default;
float: left;
width: 80px;
margin-left: auto;
margin-right: auto;
text-align:right;
}

#buttonForward {
cursor: pointer;
float: right;
background: url(images/forward.png) no-repeat left top;
width: 25px;
height: 25px;
}

table.tMatrix {
text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 95%;
margin-left: auto;
margin-right: auto;
background-color: #fafafa;
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-collapse: collapse;
border-spacing: 0px;
}

td {
border-bottom: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-size: 10px;
color: #404040;
}

td.tableCorner {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 0px solid #6699CC;
border-top: 0px solid #6699CC;
background-color: white;
cursor: default;
margin-bottom: 1px;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #22316C;
width: 8%;
}

td.tableTitleVert {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 1px solid #6699CC;
border-top: 1px solid #6699CC;
background-color: #BEC8D1;
cursor: default;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;
width: 8%;
}

td.tableTitleHor {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 1px solid #6699CC;
border-top: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
color: #404040;
width: 11%;
}

td.titleOfWeek {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 1px solid #6699CC;
border-top: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
cursor: default;
color: #404040;
width: 5px;
}

td.titleOfWeekend {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 1px solid #6699CC;
border-top: 1px solid #6699CC;
background-color: #88ACE0;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
cursor: default;
color: #404040;
width: 5px;
}

td.dayOfWeek {
background-color: #E0FFFF;
cursor: pointer;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
color: #404040;
width: 5px;
}

td.dayBooked {
background-color: #E0FFFF;
cursor: pointer;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 10px;
color: #009900;
width: 5px;
}

td.dayOfWeekend {
background-color: #BBFFFF;
cursor: pointer;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
color: #404040;
width: 5px;
}

td.cellAvail {
background-color: #E0FFFF;
cursor: pointer;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
color: #404040;
width: 11%;
}

td.cellBooked {
background-color: #00FF66;
cursor: pointer;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
color: #404040;
width: 11%;
}

td.cellTaken {
background-color: #FF9F9F;
cursor: default;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
color: #404040;
width: 11%;
}

td.legendCell {
height: 5px;
width: 5px;
color: #404040;
cursor: default;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
border: 1px solid light-gray;
border-width: 1px 1px;
}

td.legendText {
height: 5px;
color: #404040;
cursor: default;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 10px;
background-color: white;
border: 0px solid gray;
border-width: 0px 0px;
}

td.userThickbox {
width: 5px;
cursor: default;
color: white;
text-align: right;
background-color: white;
border: 0px solid light-gray;
border-width: 0px 0px;
}

td.UserTitle {
border-bottom: 1px solid #6699CC;
border-right: 1px solid #6699CC;
border-left: 1px solid #6699CC;
border-top: 1px solid #6699CC;
background-color: #BEC8D1;
text-align: center;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 11px;
cursor: default;
color: #404040;
}

td.userData {
background-color: #E0FFFF;
border-bottom: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: normal;
font-size: 10px;
cursor: default;
color: #404040;
}

.today {
	font-weight: bold;
	text-decoration: underline;
}

.tMatrix a {
	color: black;
	text-decoration: none;
	display: block;
}	

.percentage75 {
	background-color: #FF9900;
}
.percentage55 {
	background-color: #FFCC33;
}
.percentage35 {
	background-color: #FFFF66;
}
.weekday {
	background-color: #E0FFFF;
}
.weekend {
	background-color: #88ACE0;
}
#yearlySchedule .mybooking {
	background-color: #00EE00;
}
.notaday {
	background-color: #E0FFFF;
	cursor: default;
}
